@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* @import 'swiper/css'; */

:root {
    --background__header: linear-gradient(#712cf9, #712cf9f2);
    --primary: #EFF1FF;
    --white: #FFF;
    --black: #010100;
    --gray: #eeeeee;
    --gray__dark: #6c757d;
    --yellow: #FFF5DB;
    --yellow__dark: #FDC021;
    --pink: #FFF2F8;
    --header__height: 56px;

}

/* ------------------------------- */
#bg__head {
    background-image: url(./img/two-people-using-laptop-meeting-coffee-shop\ 1.png);
    background-size: cover;
    overflow: hidden;
}

.bd__yellow {
    text-decoration: underline 2px var(--yellow__dark);
}

.title {
    font-family: 'Playfair Display', serif;
}

.mask {
    /* -webkit-mask-image: url(data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/LS0+CiAgICAgICAgICAgICAgPHN2ZyBpZD0ic3ctanMtYmxvYi1zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgICAgICAgICAgICAgICAgICAgPGRlZnM+IAogICAgICAgICAgICAgICAgICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InN3LWdyYWRpZW50IiB4MT0iMCIgeDI9IjEiIHkxPSIxIiB5Mj0iMCI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8c3RvcCBpZD0ic3RvcDEiIHN0b3AtY29sb3I9InJnYmEoMjQ4LCAxMTcsIDU1LCAxKSIgb2Zmc2V0PSIwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHN0b3AgaWQ9InN0b3AyIiBzdG9wLWNvbG9yPSJyZ2JhKDI1MSwgMTY4LCAzMSwgMSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgICAgICAgICAgICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgICAgICAgICAgICAgIDwvZGVmcz4KICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjc3ctZ3JhZGllbnQpIiBkPSJNMjcuMywtMjkuOUMzNS4xLC0yNiw0MS4xLC0xNy4xLDQwLjksLTguNkM0MC44LC0wLjEsMzQuNiw4LjIsMjkuNSwxN0MyNC4zLDI1LjgsMjAuMywzNS4yLDEzLjUsMzhDNi44LDQwLjksLTIuNywzNy4yLC05LjcsMzIuMkMtMTYuNywyNy4zLC0yMS4zLDIxLjEsLTI3LDE0LjFDLTMyLjgsNy4yLC0zOS44LC0wLjUsLTM4LjgsLTdDLTM3LjksLTEzLjUsLTI5LC0xOC43LC0yMS4yLC0yMi43Qy0xMy40LC0yNi43LC02LjcsLTI5LjQsMS41LC0zMS4yQzkuNywtMzMsMTkuNSwtMzMuOSwyNy4zLC0yOS45WiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTAgNTApIiBzdHJva2Utd2lkdGg9IjAiIHN0eWxlPSJ0cmFuc2l0aW9uOiBhbGwgMC4zcyBlYXNlIDBzOyI+PC9wYXRoPgogICAgICAgICAgICAgIDwvc3ZnPg==);
    -webkit-mask-repeat: no-repeat;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
    -webkit-mask-image: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.a {
    -webkit-mask-image: url(./img/graph.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    width: 200px;
    height: 200px;
    background: blue;
}



.shape {
    -webkit-mask-image: url(./svg/graph.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 90%;
    -webkit-mask-position: 0 50%;
    animation: bubble 3s infinite backwards;
}



/* @keyframes bubble {
    0% {
        -webkit-mask-image: url(./svg/graph.png);
    }

    10% {
        -webkit-mask-image: url(./svg/graph1.png);
    }

    20% {
        -webkit-mask-image: url(./svg/graph2.png);
    }

    30% {
        -webkit-mask-image: url(./svg/graph3.png);
    }

    40% {
        -webkit-mask-image: url(./svg/graph4.png);
    }

    50% {
        -webkit-mask-image: url(./svg/graph5.png);
    }

    60% {
        -webkit-mask-image: url(./svg/graph6.png);
    }

    70% {
        -webkit-mask-image: url(./svg/graph7.png);
    }

    80% {
        -webkit-mask-image: url(./svg/graph8.png);
    }

    90% {
        -webkit-mask-image: url(./svg/graph9.png);
    }

    100% {
        -webkit-mask-image: url(./svg/graph10.png);
    }
} */


.rotate {
    transform: rotate(100deg);
}

.underline {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: var(--yellow__dark);
    top: 65%;
    left: 0;
    z-index: -1;
}


/* .bg__2::after {
    content: "";
    position: absolute;
    width: 1293px;
    height: 578px;
    border-radius: 0px 400px 0px 0px;
    background-color: var(--primary);
    z-index: -1;

} */

.bg__bg {
    width: 90%;
    height: 100%;
    border-radius: 0px 400px 0px 0px;
    z-index: -1;
}

.under__load {
    width: 23px;
    height: 5px;
    background-color: var(--yellow__dark);
    bottom: -5px;
    transition: 0.5s ease-in;
}

.hover__menu__item ul li:hover {
    font-weight: 700;
}

.hover__menu__item ul li:nth-child(1):hover~.under__load {
    width: 46px;
}

.hover__menu__item ul li:nth-child(2):hover~.under__load {
    width: 145px;
}

.hover__menu__item ul li:nth-child(3):hover~.under__load {
    width: 237px;
}

.hover__menu__item ul li:nth-child(4):hover~.under__load {
    width: 350px;
}

.button__np:hover {
    cursor: pointer;
    color: var(--yellow__dark);
    border-color: var(--yellow__dark);
}

.mySwiper1 .swiper-slide {
    width: 307px;
}

.mySwiper2 .swiper-slide {
    width: 800px;
}

.mySwiper2 .swiper-slide:nth-child(2n) {
    width: 800px;
}

.mySwiper2 .swiper-slide:nth-child(3n) {
    width: 600px;
}