:root {
    --background__header: linear-gradient(#712cf9, #712cf9f2);
    --primary: #EFF1FF;
    --primary__hover: #6528e0;
    --secondary: #FFF5DB;
    --neutral: #feffff;
    --white: #FFF;
    --black: #010100;
    --blue: #2639ED;
    --blue__light: #DAE9FF;
    --blue__hover: #0b5ed7;
    --gray: #eeeeee;
    --gray-dark: #6c757d;
    --yellow: #FFF5DB;
    --pink: #FFF2F8;
    --pink__dark: #fe007b;
    --green: #DEFFEE;
    --header__height: 34px;

}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* ------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {}

h5 {}

h6 {}

a {
    text-decoration: none;
    color: black;
    display: block;
}

p {
    font-weight: 400;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    white-space: nowrap;
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.15);
}

img {
    width: 100%;
    object-fit: cover;
}

/* ------------------------------- */
.px-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.py-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}


.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

.py-28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.px-36 {
    padding-left: 36px;
    padding-right: 36px;
}

.py-36 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-44 {
    padding-left: 44px;
    padding-right: 44px;
}

.py-44 {
    padding-top: 44px;
    padding-bottom: 44px;
}

.px-48 {
    padding-left: 48px;
    padding-right: 48px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.px-56 {
    padding-left: 56px;
    padding-right: 56px;
}

.py-56 {
    padding-top: 56px;
    padding-bottom: 56px;
}

.px-64 {
    padding-left: 64px;
    padding-right: 64px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.px-68 {
    padding-left: 68px;
    padding-right: 68px;
}

.py-68 {
    padding-top: 68px;
    padding-bottom: 68px;
}

.px-72 {
    padding-left: 72px;
    padding-right: 72px;
}

.py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.px-120 {
    padding-left: 120px;
    padding-right: 120px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.my-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}


.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-12 {
    margin-left: 12px;
    margin-right: 12px;
}

.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-24 {
    margin-left: 24px;
    margin-right: 24px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mx-28 {
    margin-left: 28px;
    margin-right: 28px;
}

.my-28 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.mx-32 {
    margin-left: 32px;
    margin-right: 32px;
}

.my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mx-48 {
    margin-left: 48px;
    margin-right: 48px;
}

.my-48 {
    margin-top: 48px;
    margin-bottom: 48px;
}

.mx-56 {
    margin-left: 56px;
    margin-right: 56px;
}

.my-56 {
    margin-top: 56px;
    margin-bottom: 56px;
}

.mx-64 {
    margin-left: 64px;
    margin-right: 64px;
}

.my-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.mx-120 {
    margin-left: 120px;
    margin-right: 120px;
}

.my-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-56 {
    margin-top: 56px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-64 {
    margin-top: 64px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-56 {
    margin-bottom: 56px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-64 {
    margin-bottom: 64px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-28 {
    margin-left: 28px;
}

.ml-32 {
    margin-left: 32px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-48 {
    margin-left: 48px;
}

.ml-56 {
    margin-left: 56px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-64 {
    margin-left: 64px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-120 {
    margin-left: 120px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-32 {
    margin-right: 32px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-44 {
    margin-right: 44px;
}

.mr-48 {
    margin-right: 48px;
}

.mr-56 {
    margin-right: 56px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-64 {
    margin-right: 64px;
}

.mr-68 {
    margin-right: 68px;
}

.mr-72 {
    margin-right: 72px;
}

.mr-76 {
    margin-right: 76px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-100 {
    margin-right: 100px;
}

.mr-120 {
    margin-right: 120px;
}

.w-8 {
    width: 8px;
}

.w-16 {
    width: 16px;
}

.w-24 {
    width: 24px;
}

.w-32 {
    width: 32px;
}

.w-40 {
    width: 32px;
}

.w-48 {
    width: 48px;
}

.w-56 {
    width: 56px;
}

.w-60 {
    width: 60px;
}

.w-120 {
    width: 120px;
}

.h-8 {
    height: 8px;
}

.h-16 {
    height: 16px;
}

.h-24 {
    height: 24px;
}

.h-32 {
    height: 32px;
}

.h-40 {
    height: 32px;
}

.h-48 {
    height: 48px;
}

.h-56 {
    height: 56px;
}

.h-60 {
    height: 60px;
}

.h-120 {
    height: 120px;
}

/* ------------------------------- */
.bg-gradient {
    background: var(--background__header);
}

.bg-primary {
    background-color: var(--primary);
}

.hover-primary:hover {
    cursor: pointer;
    background-color: var(--primary__hover);
}

.hover-secondary:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-neutral {
    background-color: var(--neutral);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-blue:hover {
    background-color: var(--blue__hover);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-pink-dark {
    background-color: var(--pink__dark);
}

.text-center {
    text-align: center;
}

.text-u {
    text-decoration: underline;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-neutral {
    color: var(--neutral);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-gray {
    color: gray;
}

.text-blue {
    color: var(--blue);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}

.text-pink {
    color: var(--pink);
}


.border-04 {
    border: 0.4px solid;
}

.border-06 {
    border: 0.6px solid;
}

.border-08 {
    border: 0.8px solid;
}

.border-1 {
    border: 1px solid;
}

.border-none {
    border: none;
}

.border-t {
    border-top: 1px solid;
}

.border-b {
    border-bottom: 1px solid;
}

.border-l {
    border-left: 1px solid;
}

.border-r {
    border-right: 1px solid;
}

.border-white {
    border-color: var(--white);
}

.border-black {
    border-color: rgba(0, 0, 0, 0.15);
}

.border-gray {
    border-color: var(--gray);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

/* ------------------------------- */
.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-between {
    align-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-30 {
    gap: 30px;
}

.hover {
    cursor: pointer;
}

.z--1 {
    z-index: -1;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-5 {
    z-index: 5;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-50 {
    z-index: 50;
}

.z-100 {
    z-index: 100;
}

.z-500 {
    z-index: 500;
}

.z-1000 {
    z-index: 1000;
}

.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}

.br-12 {
    border-radius: 12px;
}

.br-16 {
    border-radius: 16px;
}

.br-20 {
    border-radius: 20px;
}

.br-24 {
    border-radius: 24px;
}

.br-28 {
    border-radius: 28px;
}

.br-32 {
    border-radius: 32px;
}

.br-36 {
    border-radius: 36px;
}

.br-40 {
    border-radius: 40px;
}

.br-lt-circle {
    border-top-left-radius: 50%;
}

.br-lb-circle {
    border-bottom-left-radius: 50%;
}

.br-rt-circle {
    border-top-right-radius: 50%;
}

.br-rb-circle {
    border-bottom-right-radius: 50%;
}

.br-circle {
    border-radius: 999px;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.t-0 {
    top: 0;
}

.bt-0 {
    bottom: 0;
}

.r-0 {
    right: 0;
}

.l-0 {
    left: 0;
}

.t100 {
    top: 100%;
}

.bt100 {
    bottom: 100%;
}

.r100 {
    right: 100%;
}

.l100 {
    left: 100%;
}

.ws-wrap {
    white-space: wrap;
}

.ws-nowrap {
    white-space: nowrap;
}

.bs-5 {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.bs-50 {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}


/* ------------------------------- */
.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-height {
    height: var(--header__height);
}

/* ------------------------------- */

/* (big screen) */
@media only screen and (min-width: 1200px) {}

/* (lap, desktop) */
@media only screen and (min-width: 992px) {
    .center {
        max-width: 1340px;
    }
}

/* (big tablets) */
@media only screen and (min-width: 768px) {}

/* (phones, tablets) */
@media only screen and (min-width: 600px) {}

/* (phones) */
@media only screen and (max-width: 600px) {}


/* ------------------------------- */

#content__bia {
    width: calc(100% - 754px);
    padding-right: 104px;
}

#bia {
    width: 754px;
    height: 512px;
    z-index: 10;
}

#bia::after {
    content: "";
    position: absolute;
    top: 0;
    left: -64.5px;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    background-color: var(--blue__light);
    z-index: 5;
}

#bia::before {
    content: "";
    position: absolute;
    bottom: -89px;
    right: 120px;
    width: 178px;
    height: 178px;
    border-bottom-right-radius: 50%;
    background-color: var(--yellow);
    z-index: 5;
}

.contact__now::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 155px;
    width: 196px;
    height: 156px;
    background: url(./img/Dot.png);
    z-index: -1;
}

.contact__now::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 52px;
    width: 196px;
    height: 156px;
    background: url(./img/Dot.png);
    z-index: -1;
}

.bg__dot {
    top: 0;
    left: 0;
    width: 196px;
    height: 156px;
    background: url(./img/Dot.png);
    z-index: -1;
}

.bg__2 {
    width: 1047px;
    height: 619px;
    border-top-left-radius: 150px;
    top: 140px;
    left: 382px;
}

.bg__shape {
    width: 178px;
    height: 178px;
    z-index: -1;
    border-bottom-right-radius: 50%;
}

.bg__circle {
    width: 129px;
    height: 129px;
    z-index: -1;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    border-radius: 50%;
}

.dot__slide {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.matthew__paul {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.img__large {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img__medium {
    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.img__small {
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.img__tiny {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.shape__blue {
    border-top: 292px solid var(--blue);
    border-left: 100px solid transparent;
    height: 0;
    width: 543px;
    border-radius: 100px;
}