:root {
    --header--height: 5.6rem;
    --nav--height: 3.1rem;
    --side--bar--width: 22rem;
    --scroll--bar--width: 1.2rem;
    --hover: rgb(7, 151, 98);
    --primary: rgb(4, 170, 109);
    --secondary: rgb(216, 238, 224);
    --black: rgb(40, 43, 52);
    --white: rgb(254, 254, 255);
    --gray: rgb(231, 232, 234);
    --yellow: rgb(252, 237, 150);
    --blue: rgb(33, 150, 243);
    --blue--dark: rgb(21, 118, 198);
}

::-webkit-scrollbar {
    scrollbar-width: var(--scroll--bar--width);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

html {
    height: 100vh;
}

body {}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: initial;
}

hr {
    border: 0.5px solid rgb(234, 234, 234);
    margin: 2rem;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    white-space: nowrap;
}


a {
    text-decoration: none;
    color: black;
}

/* ----------------------------------------------------------- */
.hide {
    display: none;
}

.show {
    display: block;
}

/* ----------------------------------------------------------- */
.menu {
    width: 100%;
    height: var(--header--height);
    background-color: var(--white);
    display: grid;
    grid-template-columns: auto 4fr auto auto;
    position: fixed;
    z-index: 100;
}

.menu__icon {
    height: 3.5rem;
    padding: 0.75rem 1.5rem;
    margin-left: 0.5rem;
}

.menu__icon:hover {
    cursor: pointer;
}

.menu__nav {
    height: var(--header--height);
    overflow: hidden;
}

.menu__nav ul {
    display: flex;
}

.menu__nav ul label li {
    padding: 0 1.5rem;
    height: var(--header--height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__nav ul label li:hover {
    background: var(--primary);
    color: var(--white);
}

.menu__nav ul label li {
    font-size: 1.5rem;
    cursor: pointer;
}

.menu__nav ul label li i {
    margin-left: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.menu__other {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__other__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 4rem;
    padding: 0 1rem;
    border-radius: 999px;
    font-size: 1.5rem;
}

.menu__other__item:hover {
    cursor: pointer;
    background-color: rgb(237, 237, 237);
}

.menu__other__item i {
    margin-right: 0.5rem;
}

.menu__other__item .fa-star {
    color: blueviolet;
}

.menu__other__item .fa-gift {
    color: var(--primary);
}

.menu__login__signup {
    height: var(--header--height);
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu__login {
    font-size: 1.5rem;
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 999px;
    background: var(--primary);
    color: var(--white);
    position: relative;
    z-index: 2;
}

.menu__login:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.menu__signup {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--secondary);
    color: var(--black);
    position: relative;
    z-index: 1;
    left: -10%;
}

.menu__signup:hover {
    cursor: pointer;
    color: var(--white);
}


/* --------------------------- */

.drop__menu__center {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    position: fixed;
    top: var(--header--height);
    width: 100%;
    z-index: 1000;
}

.drop__menu {
    width: 100rem;
    height: 100%;
    padding: 4rem;
    background: var(--black);

}

.drop__menu__header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.drop__menu__header * {
    font-size: 3rem;
}

.drop__menu__header__title {
    color: var(--yellow);
    font-weight: 700;
}

.drop__menu__header__close label {
    color: var(--white);
    cursor: pointer;
    margin-right: 1rem;
}

.drop__menu__header__close:hover label {
    color: var(--yellow)
}

.drop__menu__body {
    width: 100%;
    height: 100%;
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.drop__menu__body__content {
    display: flex;
    flex-direction: column;
}

.drop__menu__body__content p {
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--yellow);
    margin: 1.5rem 0;
}

.drmnbdct__text {
    display: flex;
}

.drmnbdct__text__1 {
    padding: 0.5rem;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.drmnbdct__text__1 span {
    margin-left: 0.4rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
}

.drmnbdct__text__1:hover {
    cursor: pointer;
    background-color: rgb(198, 198, 198);
    color: var(--black);
    border-radius: .25rem;
}

.drmnbdct__text__2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drmnbdct__text__2 li {
    padding: 0.5rem 0.75rem;
    color: var(--yellow);
    font-size: 1.1rem;
    text-decoration: underline;
}

.drmnbdct__text__2 li:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    border-radius: .3rem;
}

#drop__menu__tutorials,
#drop__menu__exercises {
    display: none;
}

#check__tutorials:checked~header .drop__menu__center #drop__menu__tutorials,
#check__exercises:checked~header .drop__menu__center #drop__menu__exercises {
    display: block;
}

/* #check__tutorials:checked~header .drop__menu__center #drop__menu__exercises,
#check__exercises:checked~header .drop__menu__center #drop__menu__tutorials {
    display: none;
} */

#check__tutorials:checked~header .menu .menu__nav ul label li.tutorials,
#check__exercises:checked~header .menu .menu__nav ul label li.exercises {
    background-color: var(--black);
    color: var(--white);
}

#check__tutorials:checked~header .menu .menu__nav nav ul label li.tutorials i.fa-caret-down,
#check__exercises:checked~header .menu .menu__nav nav ul label li.exercises i.fa-caret-down {
    display: none;
}

#check__tutorials:checked~header .menu .menu__nav nav ul label li.tutorials i.fa-caret-up,
#check__exercises:checked~header .menu .menu__nav nav ul label li.exercises i.fa-caret-up {
    display: block;
}

#check__sidebar:checked~.side__bar {
    display: block;
    z-index: 1000;
}

/* ------------------------------------ */
.nav__active {
    background-color: var(--primary);
    color: var(--white);
}

.nav nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    position: fixed;
    top: var(--header--height);
    z-index: 100;
}

.nav__menu {
    overflow: hidden;
}

.nav__menu ul,
.nav__search ul {
    width: 100%;
    height: var(--nav--height);
    color: var(--white);
    background-color: var(--black);

}

.nav__menu ul li,
.nav__search ul li {
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.nav__menu ul li:hover,
.nav__search ul li:hover {
    cursor: pointer;
    background-color: black;
}

.nav__menu ul li i {
    font-size: 1.8rem;
}

.nav__search ul li i {
    font-size: 1.6rem;
}

/* ------------------------------ */
#theme {
    position: relative;
    /* z-index: 10; */
}

#theme:hover .theme__drop {
    display: flex;
}

.theme__drop {
    position: absolute;
    top: var(--nav--height);
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    /* z-index: -100; */
    /* transform: translateY(-100%); */
    transition: 0.5s ease-in;
}

.theme__drop__item {
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
}

.theme__drop__item input {
    margin-right: 0.5rem;
}

.theme__drop__item label {
    font-size: 1.4rem;
}

.theme__drop__item:hover,
.theme__drop__item label:hover {
    cursor: pointer;
}

#search {
    position: relative;
}

.search__drop {
    width: 500px;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    height: var(--nav--height);
    background-color: var(--black);
    position: absolute;
    right: 100%;
    display: none;
}

.search__drop input {
    width: calc(100% - 6rem - 1.5rem);
    font-size: 1.6rem;
    border: none;
}

.search__drop input:focus-visible {
    outline: none;
}

.search__drop button {
    width: 6rem;
    border: none;
    background-color: #4D90FE;
    color: white;
    border-radius: 3px;
    margin-left: 1.5rem;
}

.search__drop button:hover {
    cursor: pointer;
}

.search__drop button i {

    font-size: 1rem !important;
}

#check__search:checked~.nav .search__drop {
    display: flex;
}

/* ------------------------------ */

#drop__side__bar {
    display: none;
}

.side__bar {
    width: var(--side--bar--width);
    height: calc(100vh - var(--header--height) - var(--nav--height));
    position: fixed;
    top: calc(var(--header--height) + var(--nav--height));
    background-color: var(--gray);
    overflow-y: auto;
    overflow-x: hidden;
}

.side__bar__head {
    font-size: 2.1rem;
    padding: 2rem 0 0.5rem 1.5rem;
}

.side__bar__content {
    padding: 1rem 0;
}

.side__bar__content ul nav li {
    width: var(--side--bar--width);
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-size: 1.55rem;
    font-weight: 400;
}

.side__bar__content ul nav li:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

/* ------------------------------ */
.cover__body {
    width: calc(100% - var(--side--bar--width));
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: calc(var(--header--height) + var(--nav--height));
    left: var(--side--bar--width);

}

.content__advertise {
    display: flex;
    border-bottom: 1px solid #eee;
}

.content {
    width: 100%;
    height: 100%;
    border-right: 1px solid #eee;
}

.content {}

.content__title h1 {
    padding: 3.5rem 3rem 2rem 3rem;
    font-size: 4rem;
    font-weight: 500;
}

.content__next {
    padding: 0 3rem 2rem 3rem;
    display: flex;
    justify-content: space-between;
}

.content__next .button__home__next {
    width: 9rem;
    height: 4.6rem;
    font-size: 1.6rem;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__next .button__home__next:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.content__next i {
    font-size: 1.6rem;
    margin: 0 0.25rem;
}

.content__decription {
    padding: 3.5rem 3rem 2rem 3rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.content__decription p {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.button__try {
    padding: 1.2rem 3.2rem;
    margin: 1rem 0;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}

.button__try:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.button__black {
    background-color: var(--black);
    position: relative;
}

.button__black:hover {
    background-color: black !important;
}

.button__new::after {
    content: "NEW";
    width: 22.5%;
    height: 70%;
    border-radius: 999px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    transform: rotate(-20deg) translate(-25%, -60%);
}

/* ------------------------------------ */

.content__part h2 {
    padding: 1rem 3rem;
    font-size: 3rem;
    font-weight: 500;
}

.content__part p {
    padding: 1rem 3rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.content__part .content__part__img {
    padding: 1rem 3rem;
}

.content__part .button__goto {
    margin: 1rem 3rem;
}

.content__part__example__box {
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: var(--gray);
    border-radius: 10px;
}

.content__part__example__box h3 {
    padding: 1rem 0;
    font-size: 2.2rem;
    font-weight: 400;
}

.content__part__example__box__code {
    width: 100%;
    height: 300px;
    background-color: var(--white);
    border-left: 5px solid var(--primary);
}

.content__part__example__box__code img {
    overflow: visible;
}

.content__part__example__box button {
    margin: 2rem 0;
}

.button__goto {
    padding: 1.2rem 3.2rem;
    background-color: var(--gray);
    color: var(--black);
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}

.button__goto:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
}

.button__goto__blue {
    background-color: var(--blue);
    color: var(--white);
}

.button__goto__blue:hover {
    background-color: var(--blue--dark);
}

/* ----------------------------------- */

.advertise {
    padding: 6rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertise__part {
    width: 15rem;
    padding-bottom: 3rem;
}

/* -------------------------------- */

.footer {
    padding: 2rem;
    margin-bottom: 5rem;
}

.footer hr {
    margin: 2rem 0;
}

.footer__part {
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #eee;
}

.footer__part a:hover {
    color: var(--primary);
}

.footer__part:last-child {
    border-bottom: none;
}

.footer__button {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.footer__button button {
    padding: 1.2rem 3.2rem;
    margin: 1rem 0;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer__button button:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.footer__part__menu nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__part__menu__item {
    text-align: center;
}


.footer__part__menu__item h3 {
    line-height: 5rem;
}

.footer__part__menu__item p {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.footer__part__forum {
    padding: 1rem 0;
    display: flex;
    justify-content: end;
}

.footer__part__forum span {
    margin: 0 0.5rem;
}

.footer__part__forum *,
.footer__part__foot * {
    font-size: 1.35rem;
    color: rgb(175, 175, 175);
}

.footer__part__forum h3 {
    font-size: 1.2rem;
}

.footer__part__foot {
    padding: 0 0.5rem;
    text-align: center;
}

.footer__part__foot p {
    line-height: 1.8rem;
    padding: 1rem 0;
}

.footer__part__foot a:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 992px) {
    .drop__menu {
        width: 90%;
    }

    .drop__menu__body {
        grid-template-columns: repeat(2, 1fr);
    }

    .cover__body {
        width: 100%;
        left: 0;
    }

    #drop__side__bar {
        display: block;
    }

    .side__bar {
        display: none;
    }

    .content__advertise {
        display: block;
    }

    .content {
        border-right: none;
    }

    .advertise__part {
        width: 30rem;
    }

    .footer__button {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer__button button {
        margin: 0.1rem;
    }

    .footer__part__menu nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {

    .drop__menu {
        padding: 1rem;
    }

    .drop__menu__body {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__part__menu nav {
        grid-template-columns: repeat(1, 1fr);
    }
}